<div class="layout">
  <nav class="layout__nav">
    <span class="layout__brand">
      <img class="layout__brand-icon" src="favicon.svg" alt="" />
      <span class="layout__brand-text"><span class="layout__brand-next">Next</span><span class="layout__brand-drop">Drop</span></span>
    </span>

    <div class="layout__nav-items">
      @for (item of navItems; track item.labelKey) {
        <a
          class="layout__nav-item"
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.path === '/' }"
        >
          @switch (item.icon) {
            @case ('house') { <svg lucideHouse></svg> }
            @case ('search') { <svg lucideSearch></svg> }
            @case ('heart') { <svg lucideHeart></svg> }
          }
          <span class="layout__nav-label">{{ item.labelKey | translate }}</span>
        </a>
      }
    </div>

    <app-language-switcher class="layout__language-switcher" />
  </nav>

  <main class="layout__content">
    <ng-content></ng-content>
  </main>
</div>
