<button
  type="button"
  class="language-switcher__trigger"
  [class.open]="open()"
  [attr.aria-expanded]="open()"
  (click)="toggle()"
>
  {{ locale().toUpperCase() }}
  <svg class="language-switcher__chevron" viewBox="0 0 24 24" aria-hidden="true">
    <polyline points="6 9 12 15 18 9" />
  </svg>
</button>

@if (open()) {
  <ul class="language-switcher__menu" role="listbox">
    @for (item of locales; track item) {
      <li
        class="language-switcher__option"
        [class.active]="item === locale()"
        role="option"
        [attr.aria-selected]="item === locale()"
        (click)="select(item)"
      >
        {{ item.toUpperCase() }}
      </li>
    }
  </ul>
}
